[Unit]
Description=An OpenTelemetry Collector service named '__DISTRIBUTION__'.
After=network.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
EnvironmentFile=/etc/__DISTRIBUTION__/__DISTRIBUTION__.conf
ExecStart=/opt/__DISTRIBUTION__/supervisor $OTELCOL_OPTIONS
KillMode=control-group
Restart=on-failure
Type=simple
User=__DISTRIBUTION__
Group=__DISTRIBUTION__
SuccessExitStatus=0
TimeoutSec=20
StandardOutput=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
